*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    width: 100%;
    height: 100%;
}

:root{
    /* Background Colors */

    --bg-primary-color : #060E0E ;

    /* Text Color */

    --primary-text-color : rgb(223, 221, 213) ;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--primary-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

body main{
    height: 100%;
    width: 100%;
}

main section{
    height: 100%;
    width: 100%;
}

section .infos{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}